<div class="container">
  <div class="md-form">
    <input type="text" #searchBox (keyup)="search(searchBox.value)" class="form-control">
    <label for="searchBox">Search</label>
  </div>

  <div *ngFor="let item of (items$ | async)?.results" class="list-group">
    <a routerLink="/detail/{{item.trackId}}" (click)="goDetail(item.trackId)" class="list-group-item animated fadeInUp z-depth-1">
      <img src={{item.artworkUrl30}} alt="" class="img-fluid z-depth-1" />
      <span class="font-weight-bold pl-1"> {{item.artistName}}</span> - {{item.trackName}}
    </a>
  </div>
</div>